<section class="hero-image vh-100" style="background-color: #C1CFEA;">
    <div class="container py-5 h-100">

        <div class="row d-flex justify-content-center align-items-center h-100" style="color: #282828;">

            <div class="col-md-9 col-lg-7 col-xl-6">
                <h1 class="text-center text-white">Weather forecast for your city</h1>
                <div class="search">
                    <input type="text" #city name="city" style="border-radius:4rem ;font-size: 1.5rem;" class="form-control" placeholder="Enter City">
                    <button (click)="toggleShow(city.value)" style="border-radius:4rem ;font-size: 1.5rem;color: azure;" class="btn">Get Weather</button>
                    <div style="font-size: 1.5rem;" class="text-white text-center">{{ now }}</div>
                    <div *ngIf="errorPannelShow">
                        <h3 *ngIf="resultsCity" class="text-center text-danger">
                            {{resultsCity}}
                        </h3>

                    </div>

                </div>
            </div>
            <div *ngIf="resultPannelShow" class="col-md-9 col-lg-7 col-xl-4">
                <h1 class="text-center text-white">Showing results for {{ weatherData.name }}
                </h1>
                <div class="card mb-4" [ngClass]="{'gradient-cloudy': bgCloudy, 'gradient-sun': bgClear}" style="border-radius: 25px;">
                    <div class="card-body p-4">
                        <div id="demo1" class="carousel slide" data-ride="carousel">
                            <!-- Carousel inner -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h3 class="text-success">Current Weather</h3>
                                            <h2 class="display-2 text-warning"><strong>{{ weatherData.main.temp }}
                                                    °C</strong></h2>
                                            <p class="text-muted mb-0 "><strong>{{ weatherData.name }}, {{
                                                    weatherData.sys.country }}</strong></p>
                                            <p class="text-muted mb-0">Feels: {{ weatherData.main.feels_like }} °C , Min: {{ weatherData.main.temp_min }} °C, Max: {{ weatherData.main.temp_max }} °C</p>
                                            <p class="text-muted mb-0">Pressure: {{ weatherData.main.pressure }}, Humidity: {{ weatherData.main.humidity }}</p>

                                        </div>
                                        <div>
                                            <img class="weather-icon" src='http://openweathermap.org/img/wn/{{icon}}@2x.png'>
                                            <p class="text-muted text-right mb-0">{{ weatherData.weather[0].main}}, {{ weatherData.weather[0].description}}
                                            </p>
                                            <p class="text-muted mb-0 text-right">
                                                <img width="30" src='http://openweathermap.org/img/wn/02d@2x.png'> {{weatherData.sys.sunrise * 1000 | date:'h:mma'}}
                                                <img width="30" src='http://openweathermap.org/img/wn/02n@2x.png'> {{weatherData.sys.sunset * 1000 | date:'h:mma'}}
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card mb-4" style="border-radius: 25px;">
                    <div class="card-body p-4">

                        <div id="demo2" class="carousel slide" data-ride="carousel">
                            <!-- Carousel inner -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="d-flex justify-content-around text-center mb-4 pb-3 pt-2">
                                        <div class="flex-column">
                                            <p class="small"><strong>21°C</strong></p>
                                            <i class="fas fa-sun fa-2x mb-3" style="color: #ddd;"></i>
                                            <p class="mb-0"><strong>12:00</strong></p>
                                            <p class="mb-0 text-muted" style="font-size: .65rem;">PM</p>
                                        </div>
                                        <div class="flex-column">
                                            <p class="small"><strong>2°C</strong></p>
                                            <i class="fas fa-sun fa-2x mb-3" style="color: #ddd;"></i>
                                            <p class="mb-0"><strong>1:00</strong></p>
                                            <p class="mb-0 text-muted" style="font-size: .65rem;">PM</p>
                                        </div>
                                        <div class="flex-column">
                                            <p class="small"><strong>20°C</strong></p>
                                            <i class="fas fa-cloud fa-2x mb-3" style="color: #ddd;"></i>
                                            <p class="mb-0"><strong>2:00</strong></p>
                                            <p class="mb-0 text-muted" style="font-size: .65rem;">PM</p>
                                        </div>
                                        <div class="flex-column">
                                            <p class="small"><strong>19°C</strong></p>
                                            <i class="fas fa-cloud fa-2x mb-3" style="color: #ddd;"></i>
                                            <p class="mb-0"><strong>3:00</strong></p>
                                            <p class="mb-0 text-muted" style="font-size: .65rem;">PM</p>
                                        </div>
                                        <div class="flex-column">
                                            <p class="small"><strong>18°C</strong></p>
                                            <i class="fas fa-cloud-showers-heavy fa-2x mb-3" style="color: #ddd;"></i>
                                            <p class="mb-0"><strong>4:00</strong></p>
                                            <p class="mb-0 text-muted" style="font-size: .65rem;">PM</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card" style="border-radius: 25px;">
                    <div class="card-body p-4">

                        <div id="demo3" class="carousel slide" data-ride="carousel">
                            <!-- Carousel inner -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="d-flex justify-content-around text-center mb-4 pb-3 pt-2">
                                        <div class="flex-column">
                                            <p class="small"><strong>21°C</strong></p>
                                            <i class="fas fa-sun fa-2x mb-3" style="color: #ddd;"></i>
                                            <p class="mb-0"><strong>Mon</strong></p>
                                        </div>
                                        <div class="flex-column">
                                            <p class="small"><strong>20°C</strong></p>
                                            <i class="fas fa-sun fa-2x mb-3" style="color: #ddd;"></i>
                                            <p class="mb-0"><strong>Tue</strong></p>
                                        </div>
                                        <div class="flex-column">
                                            <p class="small"><strong>16°C</strong></p>
                                            <i class="fas fa-cloud fa-2x mb-3" style="color: #ddd;"></i>
                                            <p class="mb-0"><strong>Wed</strong></p>
                                        </div>
                                        <div class="flex-column">
                                            <p class="small"><strong>17°C</strong></p>
                                            <i class="fas fa-cloud fa-2x mb-3" style="color: #ddd;"></i>
                                            <p class="mb-0"><strong>Thu</strong></p>
                                        </div>
                                        <div class="flex-column">
                                            <p class="small"><strong>18°C</strong></p>
                                            <i class="fas fa-cloud-showers-heavy fa-2x mb-3" style="color: #ddd;"></i>
                                            <p class="mb-0"><strong>Fri</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>